colorFondoEncabezadoBloque = #888
margenPregunta = 16px
colorFondoIdBloque = #DDD

anchoNormal(ancho)
  @media (min-width 600px)
    width ancho

.formulario
  max-width 768px

.encabezado
  display flex
  .id
    align-self flex-start
    justify-self flex-start
    text-align center
    flex-shrink 0
  .nombre-div
    flex-grow 2
    align-self flex-start
    justify-self baseline
    .aclaracion
      font-size 90%

.casilleros
  display flex
  flex-direction column

.multiple
  border-top 0.5px solid colorFondoIdBloque
  font-size 120%
  margin-left 8px
  @media (min-width 600px)
    margin-left 48px
    justify-content space-between
  display flex  
  @media (max-width 599px)
    flex-direction column
  .id
    margin-right 8px
    color colorFondoEncabezadoBloque
    background-color colorFondoIdBloque
    flex-shrink 0
    flex-grow 0
    text-align center
    min-width 24px
    width auto
    height 24px
    padding-top 2px
    vertical-align middle
    border-bottom-right-radius 7px
  > .encabezado
    min-width 50%
    flex-shrink 1
    @media (min-width 600px)
      min-width 55%
  > .casilleros
    justify-self right
    align-self flex-end
    min-width 33%

.pregunta
  @media (max-width 559px)
    flex-direction column
  display flex
  justify-content space-between
  border-top 1px solid colorFondoEncabezadoBloque
  &[nuestro-tipovar="opciones"]
    > .casilleros
      .MuiButton-root
        x-color blue
  &[nuestro-tipovar="si_no"]
    > .encabezado
      anchoNormal 70%
    > .casilleros
      anchoNormal 30%
  &[nuestro-tipovar="multiple"]
    display block
    > .encabezado
      width 100%
    > .casilleros
      width 100%
  > .encabezado
    anchoNormal 50%
    font-size 120%
    min-height 24px
    .id
      color colorFondoEncabezadoBloque
      background-color colorFondoIdBloque
      min-width 24px
      width auto
      min-height 24px
      padding-top 2px
      vertical-align middle
      border-bottom-right-radius 7px
    .nombre-div
      padding margenPregunta
  > .casilleros
    align-self flex-end
    anchoNormal 50%
    > .variable
      margin-bottom margenPregunta

.bloque
  > .encabezado
    background colorFondoEncabezadoBloque
    font-size 100%
    min-height 24px
    .id
      color colorFondoEncabezadoBloque
      background-color colorFondoIdBloque
      min-width 24px
      min-height 24px
      padding-top 2px
      vertical-align middle
      border-bottom-right-radius 7px
    .nombre-div
      margin 8px
      text-align center
      color colorFondoIdBloque

[los-metadatos]
  display none

.id-div
  height 36px
  min-width 36px
  margin-right 8px

boton-id-div()
  x-nada 1

boton-id-div-invalido()
  .id-div
    .id
      opacity 70%
    height 36px
    min-width 36px
    outline  1px solid blue
    background-image url("../img/borrar-valor.png")
    background-position bottom
    background-size 36px
    border-radius 4px
    flex-shrink 0
    flex-grow 0

.casilleros
  background-color #EEE

[tiene-valor=invalido]
  boton-id-div-invalido()

[modo-despliegue=estricto], [modo-despliegue=relevamiento]
  [nuestro-validator=optativa_sd]
    background-color #FFe
    color #050
  [nuestro-validator=valida]
    color #050
  [nuestro-validator=actual]
    background-color #FFF
    .MuiButton-outlined
      border-color blue
    .MuiInput-underline:after
      border-bottom-color blue
    .MuiInput-underline:before
      border-bottom-color blue
    &[debe-leer=SI]
      color blue
    [debe-leer=SI]
      color blue
  [nuestro-validator=omitida]
    background repeating-linear-gradient(45deg, #fff, #fff 10px, #ff9 10px, #ff9 12px)
    .MuiButton-outlined
      border-color blue
    .MuiInput-underline:after
      border-bottom-color blue
    .MuiInput-underline:before
      border-bottom-color blue
    &[debe-leer=SI]
      color blue
    [debe-leer=SI]
      color blue
  [nuestro-validator=fuera_de_flujo_por_salto]
    boton-id-div()
    background repeating-linear-gradient(45deg, #BBB, #BBB 10px, #f66 10px, #f66 12px)
  [nuestro-validator=invalida]
    boton-id-div()
    background repeating-linear-gradient(45deg, #eee, #eee 10px, #f99 10px, #f99 12px)
  [nuestro-validator=todavia_no]
    background-color #EEE
    color #888
  [nuestro-validator=calculada]
    background-color #EEE
    input
      background-color #BBB
  [nuestro-validator=salteada]
    background-color #BBB
  [nuestro-validator=fuera_de_flujo_por_omitida]
    background repeating-linear-gradient(45deg, #eee, #eee 10px, #fcc 10px, #fcc 12px)
    &[tiene-valor=SI]
      boton-id-div()

[modo-despliegue=estricto]
  [nuestro-validator=salteada]
    display none
  [nuestro-validator=todavia_no]
    display none

[modo-despliegue=metadatos]
  background-color #f8f8f8
  [debe-leer=SI]
    color blue
  [los-metadatos]
    display flex
    font-size 80%
    color #A0F
    [el-metadato]
      flex-shrink 1
      margin 3px
    [el-metadato=variable]
      padding-left 4px
      padding-right 4px
      min-width 16px
      border 1px solid gray

.confirma-borrado
  padding 8px
  .confirma-botones
    display flex
    > *
      margin 8px