colorFondoIdBloque = #888

.bloque
  .encabezado
    background colorFondoIdBloque
    font-size 100%
    display flex
    min-height 24px
    .id
      border-top 2px solid colorFondoIdBloque
      align-self flex-start
      justify-self flex-start
      color colorFondoIdBloque
      background-color #EEE
      min-width 24px
      text-align center
    .nombre
      margin 8px
      align-self flex-start
      justify-self baseline
      color white
