colorFondoIdBloque = #888

.formulario
  max-width 768px

.encabezado
  display flex
  .id
    align-self flex-start
    justify-self flex-start
    text-align center
  .nombre-div
    flex-grow 2
    align-self flex-start
    justify-self baseline
    .aclaracion
      font-size 90%

.bloque
  .encabezado
    background colorFondoIdBloque
    font-size 100%
    min-height 24px
    .id
      color colorFondoIdBloque
      background-color #DDD
      min-width 24px
      min-height 24px
      padding-top 2px
      vertical-align middle
      border-bottom-right-radius 7px
    .nombre-div
      margin 8px
      text-align center
      color #DDD
