altoEtiqueta = 150px
mitadAltoEtiqueta = 75px
anchoEtiqueta = 194px
altoQr = 128px
altoLogoEstadistica = 73px
altoTexto = 41px
altoEseco = 73px
altoBA = 55px

.etiqueta
	display flex
	background-color #ffffff
	width anchoEtiqueta
	height altoEtiqueta
	.columna
		padding 11px 0px
		.codigo-qr
			height altoQr
			width altoQr
			img
				height altoQr
		.logo-estadistica
			height altoLogoEstadistica
			img
				height altoLogoEstadistica
		.texto-codigo
			height altoTexto
			padding 6px 0px
			background-color yellow
			text-align center
			vertical-align middle
			font-size 30px
		.logo-eseco
			height altoEseco
			img
				height altoEseco
		.logo-ba
			height altoBA
			img
				height altoBA