[typed-controls-signal-no-data]
  background-color #F8F !important
[typed-controls-signal-unknown-data]
  background-color #F8F !important
[state-var=actual]
  .hijos
    tr[id="P6/1"]
      display table-row
.hijos
  tr[id="P6/1"] 
    display none
