td[my-mandatory=esperar]:empty
  background url("../img/wait4this.png") top right no-repeat
  background-size  12px 12px 
td[my-mandatory=optativo]:empty
  background url("../img/optativo.png") top right no-repeat
  background-size  12px 12px 
